* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

#texts {
    font-size: 24px;
}

.description {
    font-size: 2em;
}

#box1 {
    width: 20vw;
    height: 20vh;
    background-color: red;
}

#box2 {
    margin-top: 5px;
    width: 20vmin;
    height: 20vmin;
    background-color: blue;
}
